        <style>
 h1 {color: #FFD072; }
p {color: #FFD072; } 
 h1 {color: #181FCC; } 
              
        
        body { background-image: url("jnblanchette.github.io/mybackground.jpg");
                background-size: cover; 
                background-repeat: no-repeat; }


        #nav-table{ width: 1024px;}
        #paragraph{ width: 1024px;}
        
        </style>
